doctype html
html(lang='en')
  head
    title Simple chat app
    link(rel='stylesheet', type='text/css', href='style.css')
    script(src='https://code.jquery.com/jquery-3.4.1.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')

body
  ul#messages

  #feedback
  .chat-form
    input#txt(autocomplete='off', autofocus='on',  type="text", placeholder='type your message here...', required='')
    button(id="send-message") Send

  script(src='chat.js')

