* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
#feedback{
    height: 20px;
    font-style: italic;
}
.chat-form {
  background: #fff;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-color: #000;
  border-top-style: solid;
  border-top-width: 1px;
}
.chat-form input {
  border: none;
  padding: 10px;
  width: 85%;
  outline: none;
  margin-right: 0.5%;
}
.chat-form button {
  width: 10%;
  background: #2196F3;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  float: right;
}

.chat-form button:hover{
    background: #1E88E5;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
